@model KnowledgeBase.Models.IssueModel
@{
    ViewBag.Title = "Detail Issue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{ Html.RenderPartial("_IssueMenu"); }

<div class="row">
    <h2>
        @Html.DisplayFor(m => m.title, new { @class = "form-control" })
    </h2>
    <div>
        @Html.DisplayFor(m => m.createdDate, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>
            @Html.DisplayNameFor(m => m.symptom)
        </h4>
        <p>
            @Html.DisplayFor(m => m.symptom, new { @class = "form-control" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>
            @Html.DisplayNameFor(m => m.diagnostic)
        </h4>
        <p>
            @Html.DisplayFor(m => m.diagnostic, new { @class = "form-control" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>
            @Html.DisplayNameFor(m => m.fix)
        </h4>
        <p>
            @Html.DisplayFor(m => m.fix, new { @class = "form-control" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>
            @Html.DisplayNameFor(m => m.comments)
        </h4>
        <p>
            @Html.DisplayFor(m => m.comments)
        </p>
    </div>
</div>